.breed-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
}

.breed-list-row {
  display: flex;
  flex-direction: row;
}

button {
  width: 20vw;
  margin: 1%
}

.last-clicked {
  background-color: #1d7f75;
  transform: scale(1.1, 1.1);
}


@media only screen and (max-width: 800px) {
  .btn {
    font-size: 10px;
  }
}