.breed-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
}

button {
  width: 17vw;
  margin: 1%
}

.last-clicked {
  background-color: #1d7f75;
  transform: scale(1.1, 1.1);
}

.no-results {
  color: grey;
  font-size: 16px;
}

@media only screen and (max-width: 800px) {
  .btn {
    font-size: 10px;
  }
}